@font-face {
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url('/public/fonts/MaterialIcons-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal
  font-weight: 400
  src: url('/public/fonts/Montserrat-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal
  font-weight: 600
  src: url('/public/fonts/Montserrat-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal
  font-weight: 200
  src: url('/public/fonts/Lato-Hairline.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: italic
  font-weight: 200
  src: url('/public/fonts/Lato-HairlineItalic.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal
  font-weight: 300
  src: url('/public/fonts/Lato-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: italic
  font-weight: 300
  src: url('/public/fonts/Lato-LightItalic.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal
  font-weight: 400
  src: url('/public/fonts/Lato-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: italic
  font-weight: 400
  src: url('/public/fonts/Lato-Italic.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal
  font-weight: 500
  src: url('/public/fonts/Lato-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: italic
  font-weight: 500
  src: url('/public/fonts/Lato-BoldItalic.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal
  font-weight: 600
  src: url('/public/fonts/Lato-Black.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: italic
  font-weight: 600
  src: url('/public/fonts/Lato-BlackItalic.ttf') format('truetype')
}
