@import 'reset'
@import 'fonts'
@import 'utils'
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
@import '~vis/dist/vis.css'
@import '~react-datetime/css/react-datetime.css'

@import 'lib/Button'
@import 'components/Timeline'
@import 'components/BoardList'
@import 'components/BoxModal'
@import 'components/Box'
@import 'components/Calendar'
@import './global'

html, body {
  height: 100%
}
body {
  padding: 0
  margin: 0
  font-family: 'Lato', 'Helvetica', 'Arial', 'Sans'
  font-size: 14px
  overflow: hidden
  background: #9C9C9C
  input, select, textarea {
    font-family: 'Lato', 'Helvetica', 'Arial', 'Sans'
    font-size: 14px
  }

  #app {
    height: 100%
    background: $black
    > h1.info {
      font-size: 3em
      padding-top: 1em
      text-align: center
    }
    & > div {
      height: 100%
    }
    & .graph {
      height: 100%
      display: flex
      flex-direction: column

      &.lost-connection {
        filter: grayscale(100%)
        -webkit-filter: grayscale(100%)
      }

      header {
        height: 7.5vh
        z-index: 10
        h1 {
          flex: 1
          color: $white
          font-size: 4vh
          text-align: center
          font-weight: 400
          margin-top: 1vh
        }

        p {
          flex: 1
          color: #fff
          text-align: center
          font-weight: 400
          font-size: 2vh
        }
      }

      main {
        flex: 1
        display: flex

        svg {
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          pointer-events: none

          .fgLine {
            stroke-width: 3
            fill: none
            stroke: $gray
          }

          .bgLine {
            stroke-width: 6
            fill: none
            stroke: rgba(255,255,255,.15)
          }
        }

        section.column {
          display: flex
          flex-direction: column
          justify-content: center
          position: relative
          border-left: 1px dotted rgba(255,255,255,.35)

          &:first-of-type {
            border: none
          }

          section.row {
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            position: relative
            padding-top: 1.5vh
            flex: 1
            border-top: 1px dotted rgba(255,255,255,.35)

            &:first-of-type {
              border: none
            }

            h2 {
              font-size: 1.5vh
              text-align: center
              font-weight: 300
              color: $gray
              position: absolute
              top: .5vh
              left: 0
              right: 0
            }
          }
        }
      }
    }
  }
}

.background {
  background: $darkgray
  &.SUCCESS {
    background: $green
  }
  &.ERROR {
    background: $red
  }
  &.WARNING {
    background: $orange
  }
  &.UNKNOWN {
    background: $darkgray
  }
}

.color {
  &.SUCCESS {
    color: $green
  }
  &.ERROR {
    color: $red
  }
  &.WARNING {
    color: $orange
  }
  &.UNKNOWN {
    color: $darkgray
  }
}

.hidden {
  visibility: hidden
}