.timeline {
  .vis-item {
    border-color: transparent
    color: white
    transition: transform .5s
    &:hover {
      cursor: pointer
    }
    &.vis-selected {
      transform: scale(1.5)
      background: #2196F3
      border-color: transparent
    }
  }
}