.board-list {
  padding: 2em
  overflow: auto
  .link {
    text-decoration: none
    font-size: 3em
    color: white
    boxShadow: 0 0 24px rgba(0,0,0,0.5)
    text-align: center
    padding: .5em
    background: #2980b9
    margin-bottom: .5em
    display: block
  }
}