.box-modal {
  $headerHeight = 40px
  display: flex
  flex-direction: column
  height: 100%
  header {
    height: $headerHeight
    background: #2C3E50
    font-size: 1.5em
    padding: .25em
    span {
      color: white
      line-height: $headerHeight
      padding-left: 1em
    }
    button {
      float: right
      background: transparent
      padding-right: .5em
      color: white
      border: 0
      outline: 0
      font-size: 20px
      line-height: $headerHeight
      &:hover {
        cursor: pointer
        color: #DFDFDF
      }
    }
  }
  main {
    display: flex
    flex: 1
    flex-direction: column
    padding: 1em 2em
    min-height: 0
    > h3 {
      font-weight: 500
      margin-bottom: .5em
      color: #2c3e50
      margin-top: .75em
      font-size: 18px
      > .fa {
        margin-right: .5em
      }
    }
    .message {
      color: #5C5C5C
    }
    .description {
      padding: 1em 1.5em
      background: #FBFBFB
      border: 1px solid #EAEAEA
      line-height: 1.2em
      a {
        text-decoration: none
      }
    }
  }
  .checks {
    flex: 1
    overflow: auto
    .check {
      display: flex
      .status {
        display: inline-block
        width: 3px
      }
      .content {
        padding: 1em 1.5em
        background: #FBFBFB
        flex: 1
        border-top: 1px solid #EAEAEA
        border-right: 1px solid #EAEAEA
        color: #5C5C5C
        > h4 {
          margin-bottom: .25em
        }
      }
      &:last-child {
        .content {
          border-bottom: 1px solid #EAEAEA
        }
      }
    }
  }
}

.ReactModal__Overlay {
  background: rgba(255,255,255,0)
  transition: background .5s
}

// Modal opened
.ReactModal__Body--open {
  #app {
    transform: scale(.9)
  }
}

.ReactModal__Content--after-open {
  animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
}

// Modal closed
#app {
  transform: scale(1)
  transition: transform .5s
}

.ReactModal__Content--before-close {
  animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}

@keyframes scaleDown {
  0% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
  100% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
}