.error-page {
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 3em
  color: white
  h1 {
    color: #ff9800
  }
  a {
    color: #2196F3
    text-decoration: none
  }
}