.timeline {
  > #controller {
    padding: .25em .5em
    position: relative
    color: rgba(255,255,255,.8)
    background: rgba(128,128,128,.25)
    display: flex
    font-size: 18px
    height: 20px
    > .DayPicker {
      color: black
      position: absolute
      bottom: 2em
      background: white
    }
    > .board {
      margin-left: auto
    }
    > span {
      display: flex
      align-items: baseline
    }
  }
  > .info {
    color: white
    padding: 1em
    text-align: center
  }
  > #container {
    height: 75px
    > .info {
      color: white
      text-align: center
      font-size: 2em
      padding-top: .5em
    }
  }
  .vis-panel.vis-center {
    overflow: visible
  }
  .vis-item {
    border-color: transparent
    color: white
    margin-top: 10px
    &:hover {
      cursor: pointer
    }
    &.vis-dot {
      top: 0px !important
      left: 6px !important
      border-radius: 6px
      border-width: 6px
      transition: transform .5s
      &.vis-selected {
        transform: scale(1.5)
      }
    }
    &.vis-selected {
      background: #2196F3
      border-color: transparent
      &.vis-point {
        background: transparent
      }
    }
  }
}